
@import url('http://fonts.googleapis.com/css?family=Droid+Sans');

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -400px 0 0 -320px;
    width: 640px;
    height: 720px;
}

h1 {
    margin: 0;
    padding: 0;
    height: 80px;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    font-size: 56px;
    font-weight: 400;
}

a {
    float: left;
    margin: 10px;
    width: 300px;
    height: 300px;
    background-image: url('../images/logos.png');
    background-size: 600px 600px;
}

a:hover {
    opacity: 0.9;
}

a.twitter {
    background-position: 0 0;
}

a.facebook {
    background-position: -100% 0;
}

a.github {
    background-position: 0 -100%;
}

a.linkedin {
    background-position: -100% -100%;
}

@media screen and (max-width: 640px), screen and (max-height: 720px), screen and (min-device-width: 320px) and (max-device-height: 480px) {
    div {
        margin: -170px 0 0 -140px;
        width: 280px;
        height: 310px;
    }

    h1 {
        height: 30px;
        font-size: 24px;
    }

    a {
        margin: 5px;
        width: 130px;
        height: 130px;
        background-size: 260px 260px;
    }
}
